h1 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 1.5rem;
  color: var(--primary-darker-color);
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
/*
mat-radio-group.not-checked ::ng-deep .mat-radio-button {
  border: 1px solid gray;
}
*/

.mat-radio-button {
  background-color: transparent;
  border: 1px solid var(--danger-base-color);
  border-radius: 15px;
  padding: .375rem .5rem;
  margin-bottom: 1rem;
}

.mat-radio-button.mat-radio-checked {
  border: 1px solid var(--primary-base-color);
}

.mat-radio-button ::ng-deep .mat-radio-label-content {
  width: 100%;
  font-weight: 400;
  white-space: normal;
}

.not-voting {
  font-size: 18px;
  font-weight: 400;
}

.actions-container {
  display: flex;
  gap: 1rem;
}

.actions-container button {
  height: 40px;
}