:host {
  position: relative;
  top: 56px;
}

::ng-deep {
  ::-webkit-scrollbar-thumb {
    background-color: var(--dark-lighter-color);
  }
}

::ng-deep body {
  background-color: var(--dark-base-color);
  //overflow-y: overlay;

  p, h1, h2, h3, h4, h5, b, span {
    color: white;
  }
}

@media (min-width: 960px) {
  :host {
    top: 64px;
  }
}

.puntos-ganados {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  z-index: 1000;
  color:white;
  font-size: 50px;
}