<app-title title="Crear Bar"></app-title>
<app-navbar [sectionPath]="barPathBase"></app-navbar>

<div class="container">
  <form [formGroup]="formGroup" #form="ngForm">

    <h4 class="title-accent">Nuevo Bar</h4>

    <mat-label>Nombre {{ (name | fieldRequired) ? '*' : '' }}</mat-label>
    <mat-form-field appearance="outline">
      <input matInput formControlName="name" placeholder="Nombre del bar">
      <mat-error>{{ 'name' | errorMessage : formGroup }}</mat-error>
    </mat-form-field>

    <mat-label>Dirección {{ (address | fieldRequired) ? '*' : '' }}</mat-label>
    <mat-form-field appearance="outline">
      <input matInput formControlName="address" placeholder="Dirección del bar">
      <mat-error>{{ 'address' | errorMessage : formGroup }}</mat-error>
    </mat-form-field>

    <mat-label>Localidad {{ (location | fieldRequired) ? '*' : '' }}</mat-label>
    <mat-form-field appearance="outline">
      <input matInput formControlName="location" placeholder="Localidad del bar">
      <mat-error>{{ 'location' | errorMessage : formGroup }}</mat-error>
    </mat-form-field>

    <mat-label>Link Menu {{ (menuLink | fieldRequired) ? '*' : '' }}</mat-label>
    <mat-form-field appearance="outline">
      <input matInput formControlName="menuLink" placeholder="Link del menu">
      <mat-error>{{ 'menuLink' | errorMessage : formGroup }}</mat-error>
    </mat-form-field>

    <app-time-picker [formGroup]="formGroup"></app-time-picker>
    
    <p>Una vez finalizada la creación sera redireccionado a la pantalla de edición.</p>

    <button
      mat-raised-button
      color="primary"
      [disabled]="!formGroup.valid"
      (click)="submitForm()">
      Crear
    </button>
  </form>
</div>