::ng-deep app-router {
  padding-top: 1rem;
}

.container {
  display: flex;
  justify-content: center;

  form {
    width: 100%;

    .field-container {
      display: flex;
      align-items: center;
      padding-bottom: 1rem;

      button[mat-icon-button] {
        color: var(--primary-base-color);
      }

      button[mat-icon-button]:nth-of-type(2) {
        color: var(--accent-base-color);
      }

      button[mat-raised-button] {
        max-width: 180px;
        margin-left: 1rem;
      }

      .mat-form-field-appearance-outline {
        max-width: 110px;
        
        ::ng-deep .mat-form-field-wrapper {
          padding: 0;
        }

        ::ng-deep .mat-form-field-label {
            left: 1.75rem;
            top: 1.5rem;
            color: var(--dark-darker-color);
        }
      }
    }

    mat-table {
      // 56px = toolbar // 1rem = padding top // 104px = app title // // 63px = form field  48px = button // 3rem = margin button
      max-height: calc(100vh - 56px - 1rem - 104px - 63px - 48px - 3rem);
      overflow-y: overlay;
    }

    .actions-container {
      display: flex;
      flex-direction: column;

      button[mat-raised-button] {
        margin-top: 1rem;
      }

      button[mat-raised-button]:first-of-type {
        margin-top: 1.5rem;
        display: none;
      }
    }
  }

  .hide {
    display: none;
  }
}

@media (min-width: 960px) {
  .container {
    form {
      mat-table {
        // 2rem = padding top // 159px = app title // 63px = form field //48px = button // 3rem = margin button
        max-height: calc(100vh - 2rem - 159px - 63px - 48px - 3rem);
      }

      .actions-container {
        flex-direction: row;
        justify-content: flex-end;
  
        button[mat-raised-button] {
          margin: 1.5rem 0 0 .5rem !important;
          display: initial !important;
          max-width: 220px;
        }
      }
    }
  }
}

@media (max-width: 959px) {
  ::ng-deep app-router {
    //56px = toolbar height  //1rem = padding-top
    max-height: calc(100vh - 56px - 1rem);
  }
}