<app-title title="Mis mesas" [titleCenter]="bar?.name"></app-title>

<div class="container" *ngIf="initForm">
  <form [formGroup]="formGroup">

    <div class="field-container" >
      <button mat-icon-button (click)="updateQuantity(1)"><mat-icon>add</mat-icon></button>
      <mat-form-field appearance="outline">
        <mat-label>Total</mat-label>
        <input matInput type="number" value="0" min="1" max="20" formControlName="quantity" placeholder="Total">
      </mat-form-field>
      <button mat-icon-button (click)="updateQuantity(-1)"><mat-icon>remove</mat-icon></button>
      <button mat-raised-button color="primary" (click)="updateQuantity()">Actualizar total</button>
    </div>

    <mat-table formArrayName="tables" [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="tables && tables.length > 0">
      <ng-container [matColumnDef]="column.name" *ngFor="let column of initColumns; index as index">

        <mat-header-cell *matHeaderCellDef> 
          <ng-container *ngIf="index === 1">
            <mat-checkbox 
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              color="primary">
            </mat-checkbox>
          </ng-container>
          {{ column.display }} 
          <ng-container *ngIf="index === 3">
            <button mat-icon-button color="primary" (click)="downloadPDF()">
              <mat-icon fontSet="material-icons-outlined">file_download</mat-icon>
            </button>
          </ng-container>
        </mat-header-cell>

        <ng-container *ngIf="index === 0">
          <mat-cell *matCellDef="let item"> 
            <button mat-icon-button [routerLink]="[item.id]">
              <mat-icon fontSet="material-icons-outlined">info</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <ng-container *ngIf="index === 1">
          <mat-cell *matCellDef="let item let rowIndex = index" [formGroupName]="rowIndex"> 
            <mat-checkbox 
              formControlName="active"
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(item) : null"
              [checked]="selection.isSelected(item)"
              color="primary">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container *ngIf="index === 2">
          <mat-cell *matCellDef="let item"> 
            {{ item[column.name] }}
          </mat-cell>
        </ng-container>
        
        <ng-container *ngIf="index === 3">
          <mat-cell *matCellDef="let item"> 
            <button mat-icon-button (click)="openQRDialog(item.qrCode, item.number)">
              <mat-icon fontSet="material-icons-outlined">qr_code_2</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <div class="actions-container" *ngIf="tables && tables.length > 0">
      <button
        mat-raised-button
        color="accent"
        (click)="downloadPDF()">
        Descargar QRs
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="update()">
        Actualizar
      </button>
    </div>
  </form>
</div>