:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    margin-top: -5rem;

    app-logo ::ng-deep {
      img {
        width: 100%;
        max-width: 380px;
        margin-bottom: 2rem;
        height: auto;
      }
    }

    button[mat-raised-button] {
      background-color: #067FDA; /* #006bbd */
      color: white;
      max-width: 500px;
    }

    button[mat-raised-button]:first-of-type {
      background-color: white;
      color: #757575;
    }

    .mat-raised-button {
      margin-bottom: 1rem;

      mat-icon {
        margin-right: .75rem
      }
    }
  }
}