.logo {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.logo.playing {
  height: 280px;

  app-logo ::ng-deep img {
    animation: spin 6s linear infinite;
    animation-play-state: paused;
    width: 110px;
    height: 110px;
  }
  
  app-logo.playing ::ng-deep img {
    animation: spin 6s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.logo.hide-logo {
  height: auto;
}

.spotify {
  width: 100%;

  .player {
    display: flex;
    align-items: center;
    margin: 0 .5rem;

    img {
      width: 100px;
      height: 100px;
      margin-right: .5rem;
    }

    .detail {
      width: 100%;

      h1,h2,p {
        color: white;
        margin: 0;
      }
      
      h1 {
        font-size: 16px;
        margin-bottom: 0.2em;
      }
      
      h2 {
        font-size: 14px;
        margin-bottom: 1em;
      }
      
      p {
        font-size: 14px;
        margin-bottom: .5em;
      }
  
      ::ng-deep .mat-progress-bar-fill::after {
        background-color: #1E457C;
      }
      
      ::ng-deep .mat-progress-bar-buffer {
        background-color: #E4E8EB;
      }
    }
  }
}
