mat-table {
  mat-header-cell:first-of-type,
  mat-cell:first-of-type {
    flex: 1.25;
  }
}

.hide {
  display: none;
}

button.btn-remove {
  margin: 1rem 0 1.5rem;
  min-width: auto;
  width: 300px;
  float: right;

  ::ng-deep .mat-button-wrapper {
    color: white;
  }
}