<mat-label *ngIf="label">{{ label }} {{ (control | fieldRequired) ? '*' : '' }}</mat-label>
<mat-form-field appearance="outline" [formGroup]="formGroup">
  <mat-select
    panelClass="select-custom-panel simple"
    disableOptionCentering
    [attr.data-name]="name"
    formControlName="{{name}}"
    [placeholder]="placeholder">
    <mat-option
      *ngFor="let item of items" [value]="item">
      {{ displayValue(item) }}
    </mat-option>
  </mat-select>
  <mat-icon matSuffix>south</mat-icon>
  <mat-error *ngIf="control.errors?.['required']">{{ fieldErrorMessages.required }}</mat-error>
</mat-form-field>