.container {
	display: flex;
	justify-content: center;
	padding-bottom: 1rem;
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;

	mat-form-field {
		width: 100%;
		margin-bottom: .5rem;
	}
	
	.inline-content {
		display: flex;
		justify-content: space-between;
		
		> div {
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: calc(50% - .5rem);
		}

		&.expires {
			margin-top: .5rem;
		}

		mat-label.expiration-time {
			position: relative;
			top: 4px;
			height: 22px;
			padding-bottom: 0;
		}
	}

	.inline {
		display: flex;
		align-items: center;
		padding-bottom: .125rem;

		mat-label {
			padding-bottom: 0;
		}

		mat-icon {
			font-size: 20px;
			height: 20px;
			margin-left: .25rem;
		}
	}
}
  
p {
  padding-top: 1rem;
  font-size: 12px;
  text-align: center;
}

button[mat-raised-button] {
  margin-top: 1.25rem;
}

@media (min-width: 1280px) {
	form {
		width: 50%;
	}
}
  