<ng-container *ngIf="table">
  <app-title [title]="'Mesa número ' + table.number"></app-title>

  <div class="container">
    <div class="left-content">
      <app-slide-toggle 
        [title]="table.active ? 'Habilitado' : 'Deshabilitado'" 
        [value]="table.active!" 
        (toggle)="toggleActive()">
      </app-slide-toggle>

      <div class="bubble-gray">
        <p>Última actualización: </p>
        <h2>
          {{ table.startDate | date : 'dd/MM/yyyy' }}
          <span>{{ table.startDate | date : 'HH:mm' }}hs </span>
        </h2>
      </div>

      <button
        mat-raised-button
        color="primary"
        (click)="updateQR()">
        Actualizar QR
      </button>

      <qrcode [qrdata]="QRURL" [width]="270" [margin]="3" elementType="url"></qrcode>
    </div>

    <div class="center-container">
      <mat-tab-group class="tabs" animationDuration="0ms">
        <mat-tab label="Reporte de Coins">
          <ng-template matTabContent>
            <app-table-report 
              [dataSource]="dataSource" 
              [reportLength]="reportLength" 
              (getReportEvent)="getReportEvent($event)">
            </app-table-report>
          </ng-template>
        </mat-tab>

        <mat-tab label="Miembros">
          <ng-template matTabContent>
            <app-table-members 
              *ngIf="dataSourceClients"
              [dataSource]="dataSourceClients"
              [idParty]="idParty"
              (deleteMembersEvent)="getMembers()">
            </app-table-members>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>

    <!--<div class="right-content"></div>-->
  </div>
</ng-container>