<ng-container *ngIf="table">
  <app-title [title]="'Mesa número ' + table.number"></app-title>

  <div class="container">
    <div class="left-content">
      <app-slide-toggle 
        [title]="table.active ? 'Habilitado' : 'Deshabilitado'" 
        [value]="table.active!" 
        (toggle)="toggleActive()">
      </app-slide-toggle>

      <div class="bubble-gray">
        <p>Última actualización: </p>
        <h2>
          {{ table.startDate | date : 'dd/MM/yyyy' }}
          <span>{{ table.startDate | date : 'HH:mm' }}hs </span>
        </h2>
      </div>

      <button
        mat-raised-button
        color="primary"
        (click)="updateQR()">
        Actualizar QR
      </button>

      <qrcode [qrdata]="QRURL" [width]="280" [margin]="3" elementType="url"></qrcode>
    </div>

    <div class="center-container">
      <h1>Reporte de Coins</h1>
      <div class='tabbed'>
        <ul>
          <li (click)="filter()" [ngClass]="{'active': selectedType === ''}"><span>TOTAL</span></li>
          <li (click)="filter('expended')" [ngClass]="{'active': selectedType === 'expended'}"><span>GASTADOS</span></li>
          <li (click)="filter('acquired')" [ngClass]="{'active': selectedType === 'acquired'}"><span>RECIBIDOS</span></li>
        </ul>
      </div>
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container [matColumnDef]="column.name" *ngFor="let column of initColumns; index as index">
          <mat-header-cell *matHeaderCellDef [ngClass]="{'hide': !column.show && (isSmallScreen$ | async)}"> {{ column.display }} </mat-header-cell>
    
          <mat-cell *matCellDef="let item" [ngClass]="{'hide': !column.show && (isSmallScreen$ | async)}"> 
            <ng-container>{{ item[column.name] }}</ng-container>
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>

      <mat-paginator
        [pageSize]="10"
        [pageIndex]="currentPage"
        [length]="reportLength"
        [hidePageSize]="true"
        (page)="pageChangeEvent($event)">
      </mat-paginator>
    </div>

    <!--<div class="right-content"></div>-->
  </div>
</ng-container>