:host {
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    > * {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      min-width: 25%;
    }

    .bubble-gray {
      margin: 1rem 0;

      h2 {
        font-size: 22px;
        margin: 1rem 0 .25rem;

        span {
          font-weight: 400;
        }
      }
    }

    qrcode {  
      margin-top: .5rem;

      ::ng-deep {
        img {
          max-width: 280px;
          width: 100%;
        }
      }
    }

    .center-container {
      width: fit-content;
      min-width: 75%;

      h1 {
        margin: 0 0 1rem;
        font-size: 20px;
        font-weight: 500;
      }

      mat-table {
        mat-header-cell:first-of-type,
        mat-header-cell:last-of-type,
        mat-cell:first-of-type,
        mat-cell:last-of-type {
          flex: .75;
        }
      }

      .hide {
        display: none;
      }

      mat-paginator {
        margin-top: .75rem;
      }
    }
  }
  
}


@media (min-width: 600px) {
  .container {
    padding-top: 1rem;

    .bubble-gray {
      max-width: calc(280px - 2rem);
    }
    button[mat-raised-button] {
      max-width: 280px;
    }
  }
}

