<mat-toolbar class="mat-elevation-z2" > <!-- *ngIf="(isHandset$ | async)" -->
  <mat-toolbar-row>
    <p class="nickname wrap-text ellipsis-second-line" (click)="openChangeNameDialog()">{{ nickName$ | async }}</p>

    <div class="content-center">
      <button
        mat-raised-button
        class="logo"
        (click)="goToHome()">
        <img height="48px" src="assets/chopp_coins_2.png"/>
      </button>
    </div>

    <div class="content-right">
      <button
        *ngIf="notifications && notifications.length > 0"
        mat-icon-button
        class="notification"
        (click)="showNotifications = !showNotifications">
        <mat-icon matBadge="0" matBadgePosition="before" matBadgeColor="warn">
          notifications_active
        </mat-icon>
      </button>

      <div class="collapsable" *ngIf="showNotifications">
        <div class="notification-container" *ngFor="let message of notifications; index as index">
          <button mat-icon-button (click)="removeNotification(index)">
            <mat-icon>close</mat-icon>
          </button>
          <p>{{ message }}</p>
        </div>
      </div>

      <button
        *ngIf="currentParty"
        mat-raised-button
        (click)="goToCoinsInfo()">
        <p class="ellipsis">{{ (partyCoins$ | async) || '0' }}p</p>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
