mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--danger-darker-color);
  justify-content: space-between;
  z-index: 100;
}

mat-toolbar mat-icon {
  color: white;
}

mat-toolbar-row {
  justify-content: space-between;
  padding: 0 .75rem;
  min-height: 64px;

  ::ng-deep .mat-toolbar-single-row {
    min-height: 64px;

  }
}

.mat-toolbar.mat-primary {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  min-height: 64px;
  transform: translateZ(0);

}

p {
  font-size: 12px;
  font-weight: 500;
  max-width: 100px;
  width: 100%;
}

p.nickname {
  cursor: pointer;
}

button[mat-raised-button] {
  background-color: #760000;
  border-radius: 30px;
  box-shadow: none;
  height: auto;
  width: auto;
  padding: .5rem .5rem;
}

.content-center {
  height: 48px;

  button {
    background-color: transparent;
    padding: 0;
    margin: 0;
    min-width: 48px;
  }
}

.content-right {
  width: 100px;
  border-radius: 0;
  display: flex;
  justify-content: flex-end;

  p {
    font-size: 14px;
    text-align: center;
    line-height: normal;
    max-width: 100px;
  }

  button.notification {
    mat-icon {
      font-size: 28px;
      width: 28px;
    }

    ::ng-deep {
      .mat-badge-medium.mat-badge-overlap.mat-badge-before .mat-badge-content {
        left: -7px;
      }

      .mat-badge-medium.mat-badge-above .mat-badge-content {
        top: -8px;
      }

      .mat-badge-warn .mat-badge-content {
        border: 2px solid white;
      }

      .mat-badge-medium .mat-badge-content {
        width: 8px;
        height: 8px;
        line-height: 8px;
      }

      .mat-badge-warn .mat-badge-content {
        color: red;
      }
    }
  }
}

.collapsable {
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 2000;

  .notification-container {
    position: relative;
    background-color: var(--accent-darker-color);
    width: calc(100% - 3rem);
    max-width: 400px;
    min-height: calc(50px - 2rem);
    max-height: 50px;
    border-radius: 10px;
    padding: 1rem;
    margin: 0 auto .5rem;

    button[mat-icon-button] {
      position: absolute;
      right: -0.25rem;
      top: -0.25rem;

      mat-icon {
        font-size: 18px;
        width: 18px;
      }
    }

    p {
      font-size: 14px;
      max-width: none;
      white-space: normal;
      text-align: left;
    }
  }
}

@media (max-width: 960px) {
  .mat-toolbar-multiple-rows, mat-toolbar-row {
    height: 56px;
    min-height: 56px;
  }

  mat-toolbar-row {
    min-height: 56px;

    ::ng-deep .mat-toolbar-single-row {
      min-height: 56px;
  
    }
  }

  .mat-toolbar-row, .mat-toolbar-single-row {
    min-height: 56px;.mat-toolbar {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 2;
    } 
  }
}

@media (min-width: 960px) {
  p {
    font-size: 14px;
    max-width: 300px;
  }

  .content-center {
    max-width: 300px;
    
    h1 {
      font-size: 16px;
    }
  }

  .content-right {
    width: 300px;
  
    p {
      font-size: 18px;
    }
  }

  .collapsable {
    top: 72px;
  }
}
  