<mat-toolbar class="mat-elevation-z2" > <!-- *ngIf="(isHandset$ | async)" -->
  <mat-toolbar-row>
    <p class="wrap-text ellipsis-second-line">{{ nickName$ | async }}</p>

    <button
      *ngIf="currentParty"
      mat-raised-button
      class="content-center"
      (click)="goToTableInfo()">
      <h1 class="wrap-text ellipsis-second-line">{{ currentParty.name }}</h1>
    </button>

    <div class="content-right">
      <button
        *ngIf="currentParty"
        mat-raised-button
        (click)="goToCoinsInfo()">
        <p class="ellipsis">{{ (partyCoins$ | async) || '0' }}p</p>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
