// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

/* SCSS Variables */
:root {
  --dark-base-color: #1b1616;
  --red-darker-color: #3a1716;

  --success-base-color: #57baa0;
  --success-lighter-color: #cdeae3;
  --success-darker-color: #3ca384;
  --danger-base-color: #ef453e;
  --danger-lighter-color: #fac7c5;
  --danger-darker-color: #e82e28;
  
  //--dark-base-color: #29293b;
  --dark-lighter-color: #bfbfc4;
  --dark-darker-color: #191926;
  --accent-base-color: #ff4d7c;
  --accent-lighter-color: #ffcad8;
  --accent-darker-color: #ff345f;
  --primary-base-color: #c3ff00;
  --primary-lighter-color: #edffb3;
  --primary-darker-color: #aeff00;
  --gray-base-color: #d8d8d8;
  --gray-lighter-color: #f3f3f3;
  --gray-darker-color: #c8c8c8;
  --gray-darker-color-v2: #4D4D61;
  --input-border-color: #e0e0e0;
  --purple-base-color: #7878F7;
  --black-alpha-70: #000000b3; /* 70% */
  --black-alpha-60: #00000099; /* 60% */
  --black-alpha-50: #00000080; /* 50% */
  --black-alpha-42: #0000006B; /* 42% */
  --black-alpha-35: #00000059; /* 35% */
  --black-alpha-10: #0000001a; /* 10% */
  --black-alpha-08: #00000014; /* 8% */
  --black-alpha-04: #0000000a; /* 4% */
 }

   /* For use in src/lib/core/theming/_palette.scss */
   $ccoins-primary: (
    50: #e2e9f4,
    100: #b6c8e3,
    200: #86a3d0,
    300: #567ebd,
    400: #3163af,
    500: #0d47a1,
    600: #0b4099,
    700: #09378f,
    800: #072f85,
    900: #032074,
    A100: #a2b4ff,
    A200: #6f8aff,
    A400: #3c61ff,
    A700: #234cff,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #ffffff,
      A700: #ffffff,
    ),
   );
    
   $ccoins-accent: (
    50: #e5efff,
    100: #bfd7ff,
    200: #94bcff,
    300: #69a1ff,
    400: #498dff,
    500: #2979ff,
    600: #2471ff,
    700: #1f66ff,
    800: #195cff,
    900: #0f49ff,
    A100: #ffffff,
    A200: #f7f9ff,
    A400: #c4d0ff,
    A700: #abbcff,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
    ),
   );
    
   $ccoins-warn: (
    50: #fde9e8,
    100: #fac7c5,
    200: #f7a29f,
    300: #f47d78,
    400: #f1615b,
    500: #ef453e,
    600: #ed3e38,
    700: #eb3630,
    800: #e82e28,
    900: #e41f1b,
    A100: #ffffff,
    A200: #ffe5e5,
    A400: #ffb3b2,
    A700: #ff9a98,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
    ),
   );

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ccoins-primary: mat.define-palette($ccoins-primary);
$ccoins-accent: mat.define-palette($ccoins-accent);

// The warn palette is optional (defaults to red).
$ccoins-warn: mat.define-palette($ccoins-warn);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ccoins-theme: mat.define-light-theme((
  color: (
    primary: $ccoins-primary,
    accent: $ccoins-accent,
    warn: $ccoins-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ccoins-theme);