<div class="container" *ngIf="prizes && prizes.length > 0; else notPrizes">
  <div class="title-content">
    <h3>Premios disponibles</h3>
  </div>

  <div class="list-container">
    <h2 class="title">Canjear premios</h2>

    <mat-nav-list>
      <mat-list-item *ngFor="let prize of prizes">
        <h1 matLine>{{ prize.name }}</h1>
        <p matLine>Validez: {{ prize.startDate | date: 'dd/MM/YYYY' }} - {{ prize.endDate | date: 'dd/MM/YYYY' }}</p>
        <button
          mat-stroked-button
          color="primary"
          (click)="redeemPrize()">
          {{ prize.points}}p
        </button>
      </mat-list-item>
    </mat-nav-list>
  </div>
  
  <!-- *ngIf="party && clients"
  <div class="title-content">
    <h3>{{ clients.length + 1 }} integrantes</h3>
    <h2>Mesa {{ party.table }}</h2>
  </div>

  <div class="clients">
    <h2 class="title">Integrantes de la mesa</h2>
    <h2 class="party">{{ party.name }}</h2>

    <div class="content">
      <mat-icon>circle</mat-icon>
      <h1>{{ me.nickName }} (Tú)</h1>
    </div>

    <ng-container *ngFor="let client of clients">
      <div class="content">
        <mat-icon>circle</mat-icon>
        <h1>{{ client.nickName }}</h1>
      </div>
    </ng-container>
  </div>

  <button 
    class="btn-logout"
    mat-button 
    (click)="logout()">
    Abandonar mesa
  </button>
  -->
</div>

<ng-template #notPrizes>
  <h1 *ngIf="!loading">Lo sentimos, no hay premios disponibles para canjear</h1>
</ng-template>