<div class="container">
  <!-- *ngIf="party && clients"
  <div class="title-content">
    <h3>{{ clients.length + 1 }} integrantes</h3>
    <h2>Mesa {{ party.table }}</h2>
  </div>

  <div class="clients">
    <h2 class="title">Integrantes de la mesa</h2>
    <h2 class="party">{{ party.name }}</h2>

    <div class="content">
      <mat-icon>circle</mat-icon>
      <h1>{{ me.nickName }} (Tú)</h1>
    </div>

    <ng-container *ngFor="let client of clients">
      <div class="content">
        <mat-icon>circle</mat-icon>
        <h1>{{ client.nickName }}</h1>
      </div>
    </ng-container>
  </div>

  <button 
    class="btn-logout"
    mat-button 
    (click)="logout()">
    Abandonar mesa
  </button>
  -->
</div>