:host {
  display: flex;
  flex-direction: column;
}

div {
  padding-bottom: 1rem;
}

h2 {
  font-size: var(--title-font-size, 30px);
  font-weight: var(--title-font-weight, 300);
  margin: 0;
}

.title-center {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1rem;
  
  img {
    padding-top: .5rem;
    width: 250px;
    display: none;
  }
}

@media (min-width: 960px) {
  div {
    padding-top: 1.5rem;
  }

  .title-center {
    padding-bottom: 0;
    img {
      display: initial;
    }
  }
}