div[sidenav] {
  width: 200px;
  height: 100%;
}

div[sidenav].playing {
  width: 300px;

  mat-nav-list {
    height: calc(100% - 280px);
  }
}
  
mat-nav-list {
  padding-top: 0px;
  height: calc(100% - 150px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mat-list-base mat-list-item.mat-list-item-with-avatar {
  height: 3rem;
}

mat-list-item ::ng-deep .mat-list-item-content p {
  color: white;
  font-weight: 300 !important;
}
  
mat-list-item ::ng-deep .mat-list-item-content .mat-icon {
  line-height: 16px;
  width: 16px;
  height: 16px;
}

.mat-list-single-selected-option,
.mat-list-single-selected-option:focus,
.mat-list-single-selected-option:hover {
  background-color: var(--gold-darker-color);
}
  
mat-list-item ::ng-deep .mat-list-item-content .mat-list-text {
  padding-left: 1rem !important;
}
  
p {
  color: white;
}

.bottom-items {
  padding-bottom: 1rem;

  .current-bar {
    text-align: center;
    margin: 0 .5rem .5rem;
    font-weight: 400;
  }

  .ribbon-logo {
    max-width: calc(100% - 1rem);
    margin: 0 .5rem .5rem;
  }

  .mat-divider {
    border-top-color: var(--gold-darker-color);
    padding-top: 1.5rem;
  }
}

mat-icon {
  color: white;
}

.spotify-btn {
  width: calc(100% - 2rem);
  margin: 0 1rem 1rem;
}