<app-layout>
  <div sidenav [ngClass]="{'playing': currentSong && (spotifyConnected$ | async)}">

    <app-spotify-player
      [spotifyPlayer]="currentSong"
      [connected]="!!(spotifyConnected$ | async)">
    </app-spotify-player>

    <mat-nav-list>
      <div>
        <h1 class="waiting-song" *ngIf="(spotifyConnected$ | async) && !currentSong">
          Esperando Canción...
        </h1>

        <button
          *ngIf="!(spotifyConnected$ | async)"
          mat-raised-button
          class="spotify-btn"
          color="primary"
          (click)="authorizeSpotify()">
          Autorizar Spotify
        </button>

        <mat-list-item
          *ngFor="let item of items"
          [routerLink]="[item.route]"
          routerLinkActive="mat-list-single-selected-option"
          #router="routerLinkActive">

          <mat-icon fontSet="material-icons-outlined" matListIcon>{{ item.icon }}</mat-icon>
          <p matLine>{{ item.title }}</p> 
        </mat-list-item>
      </div>

      <div class="bottom-items">
        <!--<p class="current-bar" *ngIf="barService?.currentBar">Bar Actual: {{ (barService.currentBar$ | async)?.name }}</p>-->
        <img class="ribbon-logo" src="/assets/chopp_coins_cinta.png" alt="">

        <mat-divider></mat-divider>
        <mat-list-item [routerLink]="spotifyPath" routerLinkActive="mat-list-single-selected-option">
          <mat-icon matListIcon>queue_music</mat-icon>
          <p matLine>Spotify</p> 
        </mat-list-item>
        <mat-list-item (click)="logOut()">
          <mat-icon matListIcon>logout</mat-icon>
          <p matLine>Cerrar sesión</p> 
        </mat-list-item>
      </div>
    </mat-nav-list>
  </div>

  <app-notification
    *ngIf="currentBar?.id"
    [count]="(countDemand$ | async)!"
    [action]="goToDemand">  
  </app-notification>

  <router-outlet #router></router-outlet>
</app-layout>