div[sidenav] {
    height: 100%;
  }
  
  .logo {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  mat-nav-list {
    padding-top: 0px;
    height: calc(100% - 150px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  mat-list-item ::ng-deep .mat-list-item-content a{
    color: white;
    margin-left: 1rem;
    font-size: 17px;
  }
  
  .mat-list-single-selected-option,
  .mat-list-single-selected-option:focus,
  .mat-list-single-selected-option:hover {
    background-color: var(--gray-darker-color-v2);
  }
  .mat-list-single-selected-option .mat-badge-content {
    background-color: var(--primary-base-color);
  }
  
  mat-list-item ::ng-deep .mat-list-item-content .mat-list-text>* {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }
  
  .mat-badge-content {
    position: initial;
    width: 19px;
    height: 19px;
    line-height: 19px;
    background-color: var(--gray-darker-color-v2);
  }
  
  .mat-icon[svgIcon="arrow-down"] {
    margin-right: .5rem;
    line-height: 14px;
    width: 14px;
    height: 14px;
  }
  /**/
  p {
    color: white;
  }
  /**/
  a {
    font-weight: 300;
  }
  
  .bottom-items {
    padding-bottom: 1rem;
  }
  
  .mat-divider {
    border-top-color: var(--gray-darker-color-v2);
    padding-top: 1.5rem;
  }