<div class="container">

  <div class="card-container player">
    <app-player
      [voteGame]="voteGame">
    </app-player>
  </div>

  <div class="card-container bg-img">
    <button
      mat-icon-button
      (click)="openMenu()">
      <img src="assets/img/menu_2.jpg" alt="menu">
    </button>
  </div>

  <div class="card-container bg-img prizes">
    <button
      mat-icon-button
      (click)="goToBarPrizes()">
      <h1 class="img-title prizes">Premios</h1>
      <img src="assets/img/prizes.jpg" alt="prizes">
    </button>
  </div>

  <div class="card-container bg-img games">
    <button
      mat-icon-button
      (click)="goToBarGames()">
      <h1 class="img-title">Actividades</h1>
      <img src="assets/img/games.png" alt="games">
    </button>
  </div>

  <div class="card-container bg-img party">
    <button
      mat-icon-button
      (click)="goToTableInfo()">
      <h1 class="img-title">
        Miembros <br><span *ngIf="party?.name">{{ party.name}}</span>
      </h1>
      <img src="assets/img/members.jpg" alt="party">
    </button>
  </div>

  <div class="card-container bg-img redeem">
    <button
      mat-icon-button
      (click)="openRedeemDialog()">
      <h1 class="img-title">
        Canjear códigos
      </h1>
      <img src="assets/img/redeem.jpg" alt="party">
    </button>
  </div>

  <div class="container-bottom">
    <img height="48px" src="assets/chopp_coins_cinta.png"/>
  </div>

</div>
