<div class="container">

  <div class="card-container player">
    <app-player
      [voteGame]="voteGame">
    </app-player>
  </div>

  <div class="card-container bg-img">
    <button
      mat-icon-button
      (click)="openMenu()">
      <img src="assets/img/menu_2.jpg" alt="menu">
    </button>
  </div>

  <div class="card-container bg-img">
    <button
      mat-icon-button
      (click)="goToBarPrizes()">
      <h1 class="img-title">Premios</h1>
      <img src="assets/img/prizes.jpg" alt="menu">
    </button>
  </div>

  <div class="card-container"></div>
  <div class="card-container"></div>
  <div class="card-container"></div>
  <div class="card-container"></div>
  <div class="card-container"></div>
</div>
