<ng-container *ngIf="bar">
  <app-title title="Mi bar"></app-title>
  <app-navbar [sectionPath]="appPaths.BAR" [id]="idBar"></app-navbar>
  
  <app-slide-toggle 
    [title]="bar.active ? 'Habilitado' : 'Deshabilitado'" 
    [value]="bar.active!" 
    (toggle)="toggleActive()">
  </app-slide-toggle>

  <div class="container">

    <div class="left-content">
      <div class="table-container bubble-gray">
        <h3>{{ tableQuantity }} Mesas creadas</h3>
        <button 
          mat-raised-button
          color="accent"
          [routerLink]="['../../', bar.id, appPaths.TABLES]">
          Ver mesas
        </button>
      </div>

      <div class="table-container bubble-gray">
        <h3>Total {{ games?.length }} Actividades</h3>
        <button 
          mat-raised-button
          color="accent"
          [routerLink]="['../../', bar.id, appPaths.ACTIVITIES]">
          Ver actividades
        </button>
      </div>

      <div class="table-container bubble-gray">
        <h3>Total {{ prizes?.length }} Premios</h3>
        <button 
          mat-raised-button
          color="accent"
          [routerLink]="['../../', bar.id, appPaths.PRIZES]">
          Ver Premios
        </button>
      </div>
    </div>

    <form [formGroup]="formGroup">

      <h4 class="title-accent">Actualizar Bar</h4>

      <mat-label>Nombre {{ (name | fieldRequired) ? '*' : '' }}</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="name" placeholder="Nombre del bar">
        <mat-error>{{ 'name' | errorMessage : formGroup }}</mat-error>
      </mat-form-field>

      <mat-label>Dirección {{ (address | fieldRequired) ? '*' : '' }}</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="address" placeholder="Dirección del bar">
        <mat-error>{{ 'address' | errorMessage : formGroup }}</mat-error>
      </mat-form-field>

      <mat-label>Localidad {{ (location | fieldRequired) ? '*' : '' }}</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="location" placeholder="Localidad del bar">
        <mat-error>{{ 'location' | errorMessage : formGroup }}</mat-error>
      </mat-form-field>

      <mat-label>Link Menu {{ (menuLink | fieldRequired) ? '*' : '' }}</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="menuLink" placeholder="Link del menu">
        <mat-error>{{ 'menuLink' | errorMessage : formGroup : 'mesas' }}</mat-error>
      </mat-form-field>

      <mat-label>Cantidad de Mesas {{ (tables | fieldRequired) ? '*' : '' }}</mat-label>
      <mat-form-field appearance="outline">
        <input matInput type="number" formControlName="tables" placeholder="Cantidad de mesas del bar, máximo 20">
        <mat-error>{{ 'tables' | errorMessage : formGroup : 'mesa' }}</mat-error>
      </mat-form-field>

      <app-time-picker [formGroup]="formGroup"></app-time-picker>

      <!--<p>Al hacer click en actualizar todos los campos serán sobreescritos</p>-->

      <button
        mat-raised-button
        color="primary"
        [disabled]="!formGroup.valid"
        (click)="submitForm()">
        Actualizar
      </button>
    </form>

    <div class="right-content"></div>
  </div>
</ng-container>