::ng-deep app-router {
  padding-top: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  flex-wrap: wrap;
  
  > * 
  {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 25%;
  }

  .left-content {
    flex-direction: row;
    gap: .5rem;
    flex-wrap: nowrap;
    padding-top: 1rem;

    .table-container {
      width: 100%;
      text-align: center;

      h3 {
        font-weight: 400;
        margin-top: .25rem;
      }

      button[mat-raised-button] {
        max-width: 180px;
      }
    }

    .table-container:last-of-type {
      margin-bottom: 0;
    }
  }

  form {
    width: 100%;

    mat-form-field {
      width: 100%;
      margin-bottom: .5rem;
    }
  }
}

p {
  padding-top: 1rem;
  font-size: 12px;
  text-align: center;
}

button[mat-raised-button] {
  margin-top: .25rem;
}

@media (max-width: 600px) {
  .left-content {
    .table-container.bubble-gray {
      background-color: transparent;
      padding: 0;

      h3 {
        display: none;
      }
    }
  }
}

@media (min-width: 600px) {
  .container {
    .left-content {
      gap: 1rem;
      flex-wrap: wrap;

      .table-container {
        max-width: calc(200px - 2rem);
      }
    }
  }
}

@media (min-width: 1280px) {
  .container {
    .left-content {
      flex-direction: column;
    }

    form {
      width: 50%;
    }
  }
}

@media (max-width: 960px) {
  ::ng-deep app-router {
    //56px = toolbar height
    //57px = navbar height
    //1rem = padding-top
    max-height: calc(100vh - 56px - 57px - 1rem);
  }
}