<ng-container *ngIf="bar">
  <app-title [title]="bar.name" titleCenter="Detalle"></app-title>
  <app-navbar [sectionPath]="appPaths.BAR" [id]="idBar"></app-navbar>
  
  <app-slide-toggle 
    [title]="bar.active ? 'Habilitado' : 'Deshabilitado'" 
    [value]="bar.active!" 
    (toggle)="toggleActive()">
  </app-slide-toggle>

  <div class="container">

    <div class="left-content">
      <div class="table-container">
        <h3>{{ tableQuantity }} Mesas creadas</h3>
      <button 
        mat-raised-button
        color="accent"
        [routerLink]="['../../', bar.id, appPaths.TABLES]">
        Administrar mesas
      </button>
      </div>
    </div>

    <form [formGroup]="formGroup">

      <h4 class="title-accent">Actualizar Bar</h4>

      <mat-label>Nombre {{ (name | fieldRequired) ? '*' : '' }}</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="name" placeholder="Nombre del bar">
        <mat-error>{{ 'name' | errorMessage : formGroup }}</mat-error>
      </mat-form-field>

      <mat-label>Dirección {{ (address | fieldRequired) ? '*' : '' }}</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="address" placeholder="Dirección del bar">
        <mat-error>{{ 'address' | errorMessage : formGroup }}</mat-error>
      </mat-form-field>

      <mat-label>Localidad {{ (location | fieldRequired) ? '*' : '' }}</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="location" placeholder="Localidad del bar">
        <mat-error>{{ 'location' | errorMessage : formGroup }}</mat-error>
      </mat-form-field>

      <mat-label>Link Menu {{ (menuLink | fieldRequired) ? '*' : '' }}</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="menuLink" placeholder="Link del menu">
        <mat-error>{{ 'menuLink' | errorMessage : formGroup : 'mesas' }}</mat-error>
      </mat-form-field>

      <mat-label>Cantidad de Mesas {{ (tables | fieldRequired) ? '*' : '' }}</mat-label>
      <mat-form-field appearance="outline">
        <input matInput type="number" formControlName="tables" placeholder="Cantidad de mesas del bar, máximo 20">
        <mat-error>{{ 'tables' | errorMessage : formGroup : 'mesas' }}</mat-error>
      </mat-form-field>

      <div class="inline-content">
        <div>
          <mat-label>Hora de apertura {{ (openTime | fieldRequired) ? '*' : '' }}</mat-label>
          <mat-form-field appearance="outline">
            <input matInput type="time" formControlName="openTime" placeholder="00:00">
            <mat-error>{{ 'openTime' | errorMessage : formGroup : 'mesas' }}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-label>Hora de cierre {{ (closeTime | fieldRequired) ? '*' : '' }}</mat-label>
          <mat-form-field appearance="outline">
            <input matInput type="time" formControlName="closeTime">
            <mat-error>{{ 'closeTime' | errorMessage : formGroup : 'mesas' }}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <!--<p>Al hacer click en actualizar todos los campos serán sobreescritos</p>-->

      <button
        mat-raised-button
        color="primary"
        [disabled]="!formGroup.valid"
        (click)="submitForm()">
        Actualizar
      </button>
    </form>

    <div class="right-content"></div>
  </div>
</ng-container>