:host {
  position: relative;
  display: block;
}

form {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 22px;
    color: var(--dark-base-color);
    text-align: center;
    font-weight: 400;
    margin: 0 0 1rem;
  }

  mat-label,
  mat-form-field ::ng-deep input.mat-input-element,
  app-select ::ng-deep mat-label {
    color: var(--dark-base-color);
  }

  button[mat-raised-button] {
    margin-top: 0.75rem;
  }
}

button[mat-icon-button] {
  color: var(--dark-base-color);
  position: absolute;
  right: -1.25rem;
  top: -1.5rem;
}
