mat-toolbar {
  position: sticky;
  top: 0;
  background-color: var(--dark-base-color);
  justify-content: space-between;
}

mat-toolbar mat-icon {
  color: white;
}

mat-toolbar-row {
  justify-content: space-between;
}

button[mat-icon-button] {
  font-size: 0;
}

.lad-logo {
  width: 60px;
  border-radius: 0;
  display: flex;
  justify-content: flex-end;
}

app-logo ::ng-deep img {
  width: 160px;
  height: auto;
}

@media (max-width: 960px) {

  .mat-toolbar-multiple-rows, mat-toolbar-row {
    height: 56px;
    min-height: 56px;
  }
}
  