<div class="container" *ngIf="coinsReport && coinsReport.report && coinsReport.report.length > 0; else notReport">
  <div class="title-content">
    <h3>Reporte de coins de {{ (currentParty$ | async)?.name || 'la party'}}</h3>
  </div>

  <div class="list-container">
    <h2 class="title">Coins del último registro: {{ coinsReport.totalCoins || 0 }}</h2>

    <mat-nav-list>
      <ng-container *ngFor="let detail of coinsReport.report; last as last">
        <mat-list-item >
          <h3 matLine>Coins {{ detail.coins > 0 ? 'ganadas' : 'consumidas' }}: {{ detail.coins }}</h3>
          <h1 matLine>Actividad: {{ detail.activity }}</h1>
          <h1 matLine>Miembro: {{ detail.client }}</h1>
          <p matLine>Fecha: {{ detail.date }}</p>
        </mat-list-item>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-container>
    </mat-nav-list>
  </div>
</div>

<ng-template #notReport>
  <div class="empty-response" *ngIf="!loading">
    <h1>Lo sentimos, Aún no hay un reporte de coins para su party, participá en las actividades del bar para generar un registro de coins</h1>
  </div>
</ng-template>