<div class="container">
  <div class="title-content">
    <h3>Reporte de coins de {{ (currentParty$ | async)?.name || 'la party'}}</h3>
  </div>

  <div class="list-container">
    <h2 class="title" *ngIf="coinsReport?.totalCoins">
      Último registro: {{ coinsReport.totalCoins || 0 }} coins
    </h2>

    <div class="filters">
      <button
        mat-raised-button
        color="primary"
        (click)="filter()"
        [ngClass]="{'selected': selectedType == ''}">
        Todo
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="filter('expended')"
        [ngClass]="{'selected': selectedType == 'expended'}">
        Gastados
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="filter('acquired')"
        [ngClass]="{'selected': selectedType == 'acquired'}">
        Recibidos
      </button>
    </div>

    <ng-container *ngIf="coinsReport && coinsReport.report?.content && coinsReport.report.content.length > 0; else notReport">
      <mat-nav-list>
        <ng-container *ngFor="let detail of coinsReport.report.content">
          <mat-list-item >
            <h3 matLine>Coins {{ detail.coins > 0 ? 'ganadas' : 'consumidas' }}: <span [ngClass]="{'winner': detail.coins > 0}">{{ detail.coins }}</span></h3>
            <h1 matLine>Actividad: <span class="activity">{{ detail.activity }}</span></h1>
            <h1 matLine>Miembro: <span class="member">{{ detail.client }}</span></h1>
            <p matLine>Fecha: {{ detail.date }}</p>

            <h2 [class]="detail.state">{{ detail.state }}</h2>
          </mat-list-item>
        </ng-container>
      </mat-nav-list>
  
      <mat-paginator
        [pageSize]="10"
        [pageIndex]="currentPage"
        [length]="reportLength"
        [hidePageSize]="true"
        (page)="pageChangeEvent($event)">
      </mat-paginator>
    </ng-container>

  </div>
</div>

<ng-template #notReport>
  <div class="empty-response" *ngIf="!loading">
    <ng-container [ngSwitch]="selectedType">
      <h1 *ngSwitchCase="'expended'">Aún no se han gastado coins en su party, participá en las actividades del bar para generar un registro de coins</h1>
      <h1 *ngSwitchCase="'acquired'">Aún no se han recibido coins en su party, participá en las actividades del bar para generar un registro de coins</h1>
      <h1 *ngSwitchDefault>Aún no hay un reporte de coins para su party, participá en las actividades del bar para generar un registro de coins</h1>
    </ng-container>
  </div>
</ng-template>