<app-title title="Home"></app-title>
<app-navbar [sectionPath]="appPaths.BAR" [id]="bars[0]?.id"></app-navbar>
<button
  mat-raised-button
  color="primary"
  routerLink="../create"
  [disabled]="loading || (bars && bars.length > 0)">
  Crear bar
  <mat-icon class="east">east</mat-icon>
</button>
<small *ngIf="bars && bars.length > 0">Como owner solo puedes administrar un bar</small>

<div class="container" *ngIf="bars && bars.length > 0; else notBars">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container [matColumnDef]="column.name" *ngFor="let column of initColumns; index as index">
      <mat-header-cell *matHeaderCellDef [ngClass]="{'hide': !column.show && (isSmallScreen$ | async)}"> {{ column.display }} </mat-header-cell>
      <mat-cell *matCellDef="let item" [ngClass]="{'hide': !column.show && (isSmallScreen$ | async)}"> 
        <ng-container *ngIf="index === 0">
          <button mat-icon-button [routerLink]="['../', appPaths.UPDATE, item.id]">
            <mat-icon fontSet="material-icons-outlined">info</mat-icon>
          </button>
        </ng-container>

        <ng-container *ngIf="index > 0 && index < 4">
          <button mat-icon-button [routerLink]="['../', item.id, column.routeTo]">
            <mat-icon fontSet="material-icons-outlined">{{ column.icon }}</mat-icon>
          </button>
        </ng-container>

        <ng-container *ngIf="index === 4">
          <mat-checkbox 
            (click)="toggleActive(item.id)"
            [checked]="item.active"
            color="primary">
          </mat-checkbox>
        </ng-container>

        <ng-container *ngIf="index > 4">{{ item[column.name] }}</ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>
</div>

<ng-template #notBars>
  <div class="not-content">
    <h1>Aún no se ha creado ningún bar.</h1>
  </div>
</ng-template>
