/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Rubik, "Helvetica Neue", sans-serif;
  background-color: white;
}

p {
  margin: 0;
  font-weight: 300;
  color: var(--dark-base-color);
}

.title-accent {
  color: var(--accent-base-color);
  font-size: 15px;
  font-weight: 300;
}

/* Scroll bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  border-radius: 16px;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-color: var(--black-alpha-35);
}

/* mat-button */

button[mat-raised-button] {
  height: 3rem;
  //box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05) !important;
  border-radius: 30px;
  width: 100%;

  span {
    margin: auto;
  }

  .mat-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

button[mat-icon-button] {
  .mat-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mat-button-base .east {
  position: absolute;
  right: 1rem;
}

.mat-button-base .mat-icon.east {
  position: absolute;
  right: 1rem;
  font-size: 28px;
  height: auto
}

/* mat-form-field */

mat-label {
  font-size: .75rem;
  padding-bottom: .25rem;
}
  
mat-form-field {
  font-size: 0.888rem !important;
  font-weight: 300 !important;
  z-index: 1001;
}
mat-form-field .mat-form-field-wrapper {
  padding: 0 0 1.25rem 0;
  margin: 0 !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05) !important;
  border-radius: 30px !important;
}
mat-form-field .mat-form-field-outline-start {
  border-radius: 30px 0 0 30px !important;
  min-width: 30px !important;
}
mat-form-field .mat-form-field-outline-end {
  border-radius: 0 30px 30px 0 !important;
}
mat-form-field .mat-form-field-infix {
  padding-left: .75rem !important;
}
mat-form-field input.mat-input-element {
  font-size: 16px;
}
mat-form-field mat-icon[matprefix] {
  margin-left: .25rem;
}

mat-error {
  background-color: var(--danger-lighter-color);
  border-radius: 30px;
  text-align: center;
}

.mat-autocomplete-panel.custom-panel {
  padding-top: 1rem;
  margin-top: -1rem;
  border: 1px solid var(--gray-base-color);
  border-top: none;
  border-radius: 0 0 1.45rem 1.45rem;
  box-shadow: none !important;
}

/* mat-checkbox */

mat-checkbox {
  font-weight: 300;
}
mat-checkbox .mat-checkbox-inner-container {
  margin-right: .75rem;
}

/* mat-card */

mat-card {
  border-radius: 30px !important;
  box-shadow: 0px 4px 20px rgba(139, 141, 160, 0.2) !important;
}

/* mat-table */

mat-table {
  width: 100%;
  border-radius: 10px;

  .mat-table-sticky.mat-header-row {
    background-color: var(--dark-base-color);

    mat-header-cell {
      color: white;

      button[mat-icon-button] {
        margin-left: .5rem;
        background-color: transparent;
      }

      mat-checkbox .mat-checkbox-frame {
        border-color: white;
      }
    }
  }

  button[mat-icon-button] {
    background-color: var(--dark-lighter-color);
    color: var(--accent-base-color);
  }
}

/* mat-dialog */

.custom-dialog-container .mat-dialog-container {
  border-radius: 20px !important;
  background-color: var(--dark-base-color) !important;
  color: white !important;
  word-break: break-word;
}

/* mat-snack-bar */

.toast {
  white-space: pre-wrap !important;
  word-break: break-word !important;
  color: white !important;
  border-radius: 10px !important;
}

.toast-error {
  background: var(--danger-base-color) !important;
}

.toast-success {
  background: var(--primary-darker-color) !important;
}

/* input */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input::-webkit-calendar-picker-indicator{
  top: -.5rem;
  right: -.5rem;
  background-color: transparent;
  position: absolute;
  padding: 1rem 7% 1rem 95%;
  border-radius: 30px;
  cursor: pointer;
}

@media (max-width: 960px) {
  mat-table {
    mat-header-cell:first-of-type,
    mat-cell:first-of-type {
      padding-left: .5rem;
    }

    mat-header-cell:last-of-type,
    mat-cell:last-of-type {
      padding-right: .5rem;
    }
  }
}